# Supabase
DATABASE_URL=postgresql://postgres.usuario:senha@aws-1-sa-east-1.pooler.supabase.com:5432/postgres

# OneSignal
ONESIGNAL_APP_ID=seu_app_id_aqui
ONESIGNAL_API_KEY=sua_api_key_aqui

# Flask
FLASK_ENV=development